/*Partie page accueil et generale*/

#titleT {
  padding-top: 15px;
  padding-left: 11%;
}

a:link{
	text-decoration:none;
	color:blue;
}
a:visited{
	text-decoration:none;
	color:blue;
}
a:hover{
	color:#FF0000;
}
a.m:link {
  text-decoration:none;
  padding:14px 16px;
  font-weight: bold;
  color: blue;
  font-family: Arial,Helvetica,sans-serif;
}
a.m:visited {
  text-decoration: none;
  color: blue;
}
a.m:active {
text-decoration: none;
  color: white;
  background-color:#deeff5;
}
a.m:hover {
  color: #FFFFFF;
  background-color:#deeff5;
  text-decoration: underline;
  transition:0.3s;
}

.pieds {
  min-height: 30px;
  text-align: center;
  margin-top: 20px;
  padding-bottom: 5px;
}

.headings{
  width: 100%;
  min-height: 300px;
  max-height: 300px;
  padding: 0;
  background-color:#BFBFBF;
  background-position:  center center;
  background-size:cover;
  vertical-align:top;
  overflow:hidden;
  margin-bottom: 10px;
}
.banniere{
  width: 100%;
  min-height: 300px;
  max-height: 300px;
  padding: 0;
  background-position:  center top;
  background-size:cover;
  vertical-align:top;
  overflow:hidden;
  margin-bottom: 10px;
}
.socials {
  position: absolute;
  left: 11%;
  top: 2px;
  text-decoration:none;
}
.social {
  padding-right: 5px;
  padding-top: 3px;
}
.bgtitre {
  color:black;
  background-color: white;
  width: 100%;
  opacity: 0.6;
  margin-top:10px;
  height:30px;
  padding: 5px;
}
.underTitle {
  font-family: Arial,Helvetica,sans-serif;
  font-weight: bold;
  font-style: normal;
  text-transform: uppercase;
  text-align: left;
  text-decoration: none;
  font-size: medium;
  line-height: normal;
  color:black;
}
a.underTitle:link{
  color: blue;
}
a.underTitle:hover {
  color: black;
}
/********************Pour les pages*************/
.left{
    width:25%;
    height:auto;
    border: 1px dashed white;
    background-color:#deeff5;
    vertical-align:top;
    padding-left:0px;
}
.right{
    width:75%;
    height:auto;
    border: 1px dashed white;
    background-color:#deeff5;
	vertical-align:top;
}
.nav_left{
    text-decoration:none;
    position:relative;
    left:0px;
    
}
.left_item{
   
    width:100%;
    background-color:white;
    padding:5px;
}
p{
    text-align:justify;
}
.contact-form {
	margin: auto;
	max-width: 100%;
	min-width: 300px;
}

/************************La galerie**********************/
div.img {
    margin: 5px;
    border: 1px solid #ccc;
    float: left;
    width: 31%;
}

div.img:hover {
    border: 1px solid #777;
	color:#777;
}

div.img img {
    width: 100%;
    height: auto;
}

div.desc {
    padding: 15px;
    text-align: center;
}
/************************Galery end...********************/
