{% extends "layout.html" %}

{% block headings %}
<div class="jumbotron text-center" style="margin:0; padding:30px;">
	<h1>Cap Haitian's history and culture</h1>
</div>
{% endblock headings %}

{% block body %}
	<div class="">
		<div class="row">
			<div class="banniere" style="background-image: url({{url_for('static',filename='img/banner_citadelle.jpg')}})">
				<div class="bgtitre"><a href="" class="underTitle">Aerial view of Milot</a>
			</div>
		</div>
		<div class="row">
			<div class="col-12">
				<h3>North department is divised in 7 districts and 19 communes:</h3>
				<ul>
				  <li><strong>District of Acul-du-Nord</strong> (3 communes) :</li>
				  <ol>
					<li>Acul-du-Nord</li>
					<li>Plaine-du-Nord</li>
					<li>Milot</li>
				  </ol>
				  <li><strong>District of Borgne</strong> (2 communes) :</li>
				  <ol>
					<li>Borgne</li>
					<li>Port-Margot</li>
				  </ol>
				  <li><strong>District of Cap-Haïtien</strong> (3 communes) :</li>
				  <ol>
					<li><a href="chef_lieu.html">Cap-Haïtien</a></li>
					<li>Limonade</li>
					<li>Quartier-Morin</li>
				  </ol>
				  <li><strong>District of  Grande-Rivière-du-Nord</strong> (2 communes) :</li>
				  <ol>
					<li>Grande-Rivière-du-Nord</li>
					<li>Bahon</li>
				  </ol>
				  <li><strong>District of Limbé</strong> (2 communes) :</li>
				  <ol>
					<li>Limbé</li>
					<li>Bas-Limbé</li>
				  </ol>
				  <li><strong>District of Plaisance</strong> (2 communes) :</li>
				  <ol>
					<li>Plaisance</li>
					<li>Pilate</li>
				  </ol>
				  <li><strong>District of Saint-Raphaël</strong> (5 communes) :</li>
				  <ol>
					<li>Saint-Raphaël</li>
					<li>Dondon</li>
					<li>Ranquitte</li>
					<li>Pignon</li>
					<li>La Victoire</li>
				  </ol>
				</ul>
			</div>
		</div>
	</div>
{% endblock body %}
